<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="grocery" href="/tabs/grocery">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>Grocery Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidden="true" name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact" href="/tabs/contact">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
